/* Center canvas */
canvas{
	display: block;
	margin: 0px auto;
}

#info{
	font: 20px Verdana, Sans;
}

#main{
	font: 40px Verdana, Sans;
	text-align: center;
}

a>.block{
	padding: 40px;
	margin: 20px;
	display: inline-block;
	background-color: beige;
	border-radius: 20px;
	color: blue;
	font-size: 30px;
	border: 1px solid #D5D5BC;
}

a{
	text-decoration: none;
}
